GuitarDsp.xcworkspace/xcuserdata/**
GuitarDsp/GuitarDsp.xcodeproj/project.xcworkspace/xcuserdata/*
Bow/Bow.xcodeproj/project.xcworkspace/xcuserdata/*
GuitarDsp/GuitarDsp.xcodeproj/xcuserdata/*
GuitarDsp/GuitarDsp.xcodeproj/xcuserdata/*
EffectCreator/EffectCreator.xcodeproj/project.xcworkspace/xcuserdata/*
EffectCreator/EffectCreator.xcodeproj/xcuserdata/*
Bow/Pods/**